Importing Necessary Libraries

In [118]:
import pandas as pd
import numpy as np

Loading the dataset

In [119]:
df=pd.read_csv('Nepali_Treking_EnhancedV2.csv')

Exploring the Data

In [120]:
df.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,...,Regional code,Country,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction
0,0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,...,0,total,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5
1,1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,...,40,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,...,80,Albania,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0
3,3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,...,120,Algeria,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0
4,4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,...,200,Andra,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5

In [121]:
df.columns

Index(['Unnamed: 0', 'Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude',
       'Accomodation', 'Best Travel Time', 'Date of Travel', 'Sex', 'Age',
       'Employment Type', 'GraduateOrNot', 'AnnualIncome', 'FrequentFlyer',
       'Year', 'Regional code', 'Country', 'Fitness Level',
       'Weather Conditions', 'Trekking Group Size', 'Guide/No Guide',
       'Equipment Used', 'Purpose of Travel', 'Health Incidents',
       'Review/Satisfaction'],
      dtype='object')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           383 non-null    int64
 1   Trek                 383 non-null    object
 2   Cost                 383 non-null    object
 3   Time                 383 non-null    object
 4   Trip Grade           383 non-null    object
 5   Max Altitude         383 non-null    object
 6   Accomodation         383 non-null    object
 7   Best Travel Time     383 non-null    object
 8   Date of Travel       383 non-null    object
 9   Sex                  383 non-null    object
 10  Age                  383 non-null    int64
 11  Employment Type      383 non-null    object
 12  GraduateOrNot        383 non-null    object
 13  AnnualIncome         383 non-null    int64
 14  FrequentFlyer        383 non-null    object
 15  Year                 383 non-null    int64
 16  Regional code        383 non-null    int64
 17  Country              383 non-null    object
 18  Fitness Level        345 non-null    object
 19  Weather Conditions   345 non-null    object
 20  Trekking Group Size  345 non-null    float64
 21  Guide/No Guide       345 non-null    object
 22  Equipment Used       207 non-null    object
 23  Purpose of Travel    345 non-null    object
 24  Health Incidents     138 non-null    object
 25  Review/Satisfaction  345 non-null    float64
dtypes: float64(2), int64(5), object(19)
memory usage: 77.9+ KB

In [123]:
df.describe() #summary statistics

,Unnamed: 0,Age,AnnualIncome,Year,Regional code,Trekking Group Size,Review/Satisfaction
count,383.00000,383.000000,3.830000e+02,383.000000,383.000000,345.000000,345.000000
mean,191.00000,29.673629,9.492167e+05,2025.519582,4081.302872,8.246377,4.010145
std,110.70682,2.868042,3.720953e+05,175.953867,2432.427473,2.584647,0.713684
min,0.00000,25.000000,3.000000e+05,2016.000000,0.000000,5.000000,3.000000
25%,95.50000,28.000000,6.500000e+05,2016.000000,2030.000000,6.000000,3.500000
50%,191.00000,29.000000,9.000000e+05,2017.000000,4140.000000,8.000000,4.000000
75%,286.50000,32.000000,1.250000e+06,2017.000000,6080.000000,10.000000,4.500000
max,382.00000,35.000000,1.800000e+06,5460.000000,9990.000000,12.000000,5.000000

Data Cleaning

In [124]:
#dropping the columns with missing values
df.drop("Unnamed: 0", inplace=True, axis=1) 
df.columns

Index(['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation',
       'Best Travel Time', 'Date of Travel', 'Sex', 'Age', 'Employment Type',
       'GraduateOrNot', 'AnnualIncome', 'FrequentFlyer', 'Year',
       'Regional code', 'Country', 'Fitness Level', 'Weather Conditions',
       'Trekking Group Size', 'Guide/No Guide', 'Equipment Used',
       'Purpose of Travel', 'Health Incidents', 'Review/Satisfaction'],
      dtype='object')

In [125]:
# # Handle missing values
# # Fill missing values with appropriate values or drop rows/columns
# df = df.dropna(subset=['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation', 'Best Travel Time', 'Date of Travel'])

In [126]:
#removing the string 'USD' from the 'Cost' column
df['Cost'] = df['Cost'].replace(r'[\$, USD]', '', regex=True).astype(float)

In [127]:
#removing the string 'Days' from the 'Time' column
df['Time'] = df['Time'].astype(str).str.strip().str.replace(r'(?i)\s*Days?', '', regex=True).astype(int)

In [128]:
# Remove the 'm' and any commas from the 'Max Altitude' column
df['Max Altitude'] = df['Max Altitude'].str.replace(r'(?i)\s*m', '', regex=True).str.replace(',', '')

# Convert the column to an integer type
df['Max Altitude'] = df['Max Altitude'].astype(int)

In [129]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Regional code,Country,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction
0,Everest Base Camp Trek,1420.0,16,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,0,total,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5
1,Everest Base Camp Short Trek,1295.0,14,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,40,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Everest Base Camp Heli Shuttle Trek,2000.0,12,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,80,Albania,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0
3,Everest Base Camp Heli Trek,3300.0,11,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,120,Algeria,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0
4,Everest Base Camp Trek for Seniors,1800.0,20,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,200,Andra,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5

In [131]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Regional code,Country,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction
0,Everest Base Camp Trek,1420.0,16,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,0,total,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5
1,Everest Base Camp Short Trek,1295.0,14,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,40,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Everest Base Camp Heli Shuttle Trek,2000.0,12,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,80,Albania,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0
3,Everest Base Camp Heli Trek,3300.0,11,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,120,Algeria,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0
4,Everest Base Camp Trek for Seniors,1800.0,20,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,200,Andra,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5

In [132]:
df.fillna(0)

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Regional code,Country,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction
0,Everest Base Camp Trek,1420.0,16,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,0,total,Intermediate,Clear,10.0,Guide,Poles,Leisure,0,4.5
1,Everest Base Camp Short Trek,1295.0,14,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,40,Afghanistan,0,0,0.0,0,0,0,0,0.0
2,Everest Base Camp Heli Shuttle Trek,2000.0,12,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,80,Albania,Advanced,Snowy,12.0,Guide,Oxygen,Charity,0,5.0
3,Everest Base Camp Heli Trek,3300.0,11,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,120,Algeria,Intermediate,Clear,5.0,Guide,Poles,Leisure,0,4.0
4,Everest Base Camp Trek for Seniors,1800.0,20,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,200,Andra,Beginner,Cloudy,6.0,No Guide,0,Adventure,Minor Injury,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,Ghorepani Poon Hill Trek,450.0,10,Easy,3210,Hotel/Guesthouse,Jan - May & Sept - Dec,8/9/2022,Male,25,...,7600,Syria,Intermediate,Clear,5.0,Guide,Poles,Leisure,0,4.0
379,Upper Mustang Trek,2100.0,17,Moderate-Hard,4200,Hotel/Guesthouse,Jan - May & Sept - Dec,9/9/2022,Female,27,...,7620,Tajikistan,Beginner,Cloudy,6.0,No Guide,0,Adventure,Minor Injury,3.5
380,Mardi Himal Trek,590.0,9,Easy-Moderate,4500,Hotel/Guesthouse,Jan - May & Sept - Dec,5/4/2021,Non-Binary,28,...,7640,Thailand,Intermediate,Clear,10.0,Guide,Poles,Leisure,0,4.5
381,Langtang Valley Trekking,690.0,11,Moderate,4773,Hotel/Guesthouse,Jan - May & Sept - Dec,1/13/2021,Female,29,...,7680,Togo,Beginner,Rainy,8.0,No Guide,0,Adventure,Altitude Sickness,3.0
382,Manaslu Circuit Trek,1190.0,17,Moderate-Hard,5220,Hotel/Guesthouse,Jan - May & Sept - Dec,5/13/2025,Female,31,...,4560,Nepal,Advanced,Snowy,12.0,Guide,Oxygen,Charity,0,5.0

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Trek                 0 non-null      object
 1   Cost                 0 non-null      float64
 2   Time                 0 non-null      int32
 3   Trip Grade           0 non-null      object
 4   Max Altitude         0 non-null      int32
 5   Accomodation         0 non-null      object
 6   Best Travel Time     0 non-null      object
 7   Date of Travel       0 non-null      object
 8   Sex                  0 non-null      object
 9   Age                  0 non-null      int64
 10  Employment Type      0 non-null      object
 11  GraduateOrNot        0 non-null      object
 12  AnnualIncome         0 non-null      int64
 13  FrequentFlyer        0 non-null      object
 14  Year                 0 non-null      int64
 15  Regional code        0 non-null      int64
 16  Country              0 non-null      object
 17  Fitness Level        0 non-null      object
 18  Weather Conditions   0 non-null      object
 19  Trekking Group Size  0 non-null      float64
 20  Guide/No Guide       0 non-null      object
 21  Equipment Used       0 non-null      object
 22  Purpose of Travel    0 non-null      object
 23  Health Incidents     0 non-null      object
 24  Review/Satisfaction  0 non-null      float64
dtypes: float64(3), int32(2), int64(4), object(16)
memory usage: 0.0+ bytes